/*Global Stylesheet....Wahoo!!!*/


body,
.layout-no-sidebars {
	background-color: #ffffff;
	font-family: "Quicksand",sans-serif;
	font-size: 120%;
	line-height: 1.5;
}

#page a, #page .link {
    /*color: #005087;*/
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
}

[role*="banner"] a:hover,
#page a:hover {
    border-bottom: 2px solid #ffffff;
}

#page .region-breadcrumb {
    padding-left: 0;
}

#page .breadcrumb a {
    text-transform: uppercase;  
    font-family: "Quicksand", sans-serif; 
    margin-top: 60px;
    display: inline-block;
}

    
#page-title,
.page-title {
    font-size: 2.3em;
    color: #000000;
}


/*Making site branding text and site slogan text invisible but still available for screen readers */

.region-header .site-branding__text a, 
.region-header .site-branding a,
.region-header .site-branding__slogan {
	color: transparent;
	font-size: 0;
	background-color: #ffffff;
}



/*Outside of the page is the styling for the important/emergency announcements */

.mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout {
    transform: translate3d(0,0,0);
}

#mm-0 .highlighted {	
	background-color: #ffdd00;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

#mm-0 .highlighted p {
    margin: 0;
    padding: 10px 0;
}

.dialog-off-canvas-main-canvas div.highlighted .layout-container {
    margin: 0 auto;
    padding: 0;
}


.dialog-off-canvas-main-canvas div.highlighted .region-highlighted {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dialog-off-canvas-main-canvas div.highlighted #block-views-block-uber-important-notification-view-block-1 {
    padding: 0;
    
}

.dialog-off-canvas-main-canvas div.highlighted #block-views-block-uber-important-notification-view-block-1 .content {
	margin: 0;
}

.dialog-off-canvas-main-canvas div.highlighted #block-views-block-uber-important-notification-view-block-1 p {
	background-color: #ffdd00;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 25px;
	margin: 0 auto;
	max-width: 1000px;
	padding: 10px;
	text-transform: uppercase;
    font-family: "Verdana", sans-serif;
}

/*FINISHED-TO-HERE*/


/*Working with logged in styling*/

.contextual .trigger {
    clip: rect(26px, 26px, 26px, 26px)!important;
    overflow: visible!important;
    border: 10px solid purple!important;
}






/*Region settings*/ /*This is where I will be defining the width of the site on mobile up to desktop*/

#page, 
#page-wrapper #main-wrapper,
header#header,
#main,
footer .site-footer {
	width: 100%;
	max-width: 1280px;
	background-color: #ffffff!important;
	margin: 0 auto;
}

header#header,
.dialog-off-canvas-main-canvas div.highlighted {
	margin: 0px auto;
	position: fixed;
	z-index: 999;
}

header#header {
    border-top: 60px solid #fff;
    border-bottom: 51px solid #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 130%;
    margin-top: -20px;

}

.user-logged-in header#header {
    border-top: 80px solid #fff;
}


#main-wrapper {
	padding-top: 275px;/*WHAT????*/
}

.splash {
	padding-top: 243px;
}

.main-content .section {
    padding: 0;
}


/*Header Styles*/


#page-wrapper #header {
    
}

.region-header #block-libnet-branding {
    margin-top: -10px;
    padding-bottom: 20px;
}

.region-header #block-libnet-branding a {
    background: #ffffff url("/incipi-iterum/primis/web/sites/default/files/2019-possibility-District-horizontal%28color%29-with-icon-800.png") no-repeat left top; 
    background-size: 60%;

}

.region-header #block-libnet-branding a img {
    width: 40%;
    opacity: 0;
	
}

.region-header .site-branding__logo,
.region-header .site-branding__text {
	
}

.region-header .site-branding__text {
	width: 5px;
	height: 0;
	margin-bottom: 0;
}

/*Search in header styling*/


#block-awesomesearchsection {  /*Going to place this UNDER THE LOGO AND THE MENU ITEMS  ALSO THE TEXT RESIZE WILL GO TO THE RIGHT OF THIS AS WELL. */
	width: 85%;
	margin: 0;
	position: absolute;
	top: 135px;
	float: none;
	left: 0;
}

#page .below-content-full,
#page #block-searchiconlinkedtosearchinbelowfullregion {
    display: none;
}

.region-header #block-textresize {
    position: absolute;
    top: 135px;
    float: none;
    margin: 0;
    right: 0;
}


#tabber19 {
 	/*border-radius: 0!important;
 	position: absolute;
 	left: 0;
 	width: 100%;*/
}

/*Search is NOT responsive.  All Styling with ### I am putting in right now to try to fix that */

/*ul.simpleTabsNavigation li {
    width: 33%;
}*/

#page ul.simpleTabsNavigation,
#page ul.simpleTabsNavigation li ul.even-more {
    
    
    width: 35%;/* ###  */
    float: left;/* ###  */
    margin: 0; /* ###  */
    max-width: 230px;
}

#page ul.simpleTabsNavigation li ul.even-more {
    width: 100%;/* ###  */
}

#page ul.simpleTabsNavigation li a {
	border: 1px solid #008FD1;
	color: #ffffff;
	background: #005087;
 	font-weight: normal;
 	font-size: 14px;
 	border-bottom: 0px solid #008FD1;
 	padding: 3px 5px;
}

#page ul.simpleTabsNavigation li.universe a {
    font-size: 15px;
}

#page ul.simpleTabsNavigation li a,
#page ul.simpleTabsNavigation li ul.even-more li a {
	padding: 9px 10px;
	display: block;
}

#page ul.simpleTabsNavigation li a:hover,
#page ul.simpleTabsNavigation li a.current:hover {
    background: #ffaa00;
    color: #000000;
}



#page ul.simpleTabsNavigation li ul.even-more {
    display: none;
    margin: 0;
}

#page ul.simpleTabsNavigation li:hover ul.even-more  {
    display: block;
}


#page ul.simpleTabsNavigation li ul.even-more li {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: contents;
    width: 100%; /* ###  */
  
}

#page ul.simpleTabsNavigation li:hover ul.even-more li {
	

}

#page ul.simpleTabsNavigation li.catalog {
	margin-top: 25px;
}


#page ul.simpleTabsNavigation li.overdrive {
	margin-top: 50px;
}

/*ul.simpleTabsNavigation li.overdrive a {
	
}


ul.simpleTabsNavigation li.overdrive a:hover {
	color: rgb(181,235,250);
}*/

#page ul.simpleTabsNavigation li.overdrive a span {
	font-weight: bold;
	font-style: italic;
}


/**/



.simpleTabs div.simpleTabsContent {
	border: none;
	padding: 5px 5px 5px 10px;
	/*width: 98%;*/ /* ###  */
}

.simpleTabs div.simpleTabsContent p br {
	display: none!important;
}

#tabber19_div_0 {
    
}

.simpleTabs form {/*Keyword, Title, or Author selection*/

}

.simpleTabs div.simpleTabsContent form p select {
	width: 22%!important;
	float: left;
	height: 41px;
	padding-left: 1px;
	margin-top: -5px;
	border-radius: 0!important;
}

.simpleTabs div.simpleTabsContent form input[name="uquery"] {
	float: left;
	width: 45%;
	height: 41px;
	margin-top: -5px;
}

.simpleTabs div.simpleTabsContent form input[value="Go"] {
	width: 40px;
	height: 40px;
	color: #ffffff;
	background: rgb(52,110,126);
	border: 1px solid rgb(52,110,126);
	max-width: 16%;
	font-weight: normal;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	text-indent: -9999px;
	background: #f6921d url("/incipi-iterum/primis/web/sites/default/files/2019-06/6.24.19-search-icon-50.png") no-repeat center center; 
	background-size: 85%;
	float: left;
	margin-left: 0;
	margin-top: -5px;
	
		
}

.simpleTabs div.simpleTabsContent form input[value="Go"]:hover {
	background: #005087 url("/incipi-iterum/primis/web/sites/default/files/2019-06/6.24.19-search-icon-50.png") no-repeat center center; 
    background-size: 85%;
	border-bottom: 1px solid #56b6cc;
	border-left: 1px solid #56b6cc;
}

.simpleTabs form #SearchCriteria {
	width: 88%;
	max-width: 466px;
	height: 35px;
	float: left;
	padding-left: 5px;
}

.simpleTabs div.simpleTabsContent form input#SearchGo {
	margin-bottom: 5px;
}

.region-header button:focus,
.region-header button:active,
.region-header input:focus,
.region-header input:active,
.region-header select:focus,
.region-header select:active,
.region-header textarea:focus,
.region-header textarea:active {
	box-shadow: none!important;
}


/*Keeping above styling.  Mulling and pondering below styling for the new search box styling*/

.region-header .ebscohostCustomSearchBox {
	/*width: 300px;*/
}

.region-header .ebscohostCustomSearchBox > div {
	/*background-image: url(http://www.communitylibrary.net/drupal7/sites/default/files/CINLogo-140-55.png)!important;*/
	background-image: none!important;
	
}

.region-header .ebscohostCustomSearchBox > div > div {
	padding-left: 20px!important;
	padding-top: 0!important;
}

.region-header .ebscohostCustomSearchBox > div > div .ebscohost-title {
	color: #ffffff;
	font-weight: normal!important;
	padding-top: 2px;
	display: block;
}

.region-header .ebscohostCustomSearchBox #ebscohostsearchtext {
	width: 90%!important;
	float: left;
	margin: 4px 10px 0 0;
}

.region-header .ebscohostCustomSearchBox .ebscohost-search-button  {
	float: left;
	padding-bottom: 0!important;
	text-indent: -999px;
	background-image: url(http://www.communitylibrary.net/drupal7/sites/default/files/CLN-search-icon-3.png)!important;
	height: 30px;
	width: 30px;
	border-radius: none!important;
	border: none!important;
	margin-top: -1px;
}

.region-header .ebscohostCustomSearchBox #guidedFieldSelectors {
	clear: left;
	margin-top: -3px;
}

.region-header .ebscohostCustomSearchBox #guidedFieldSelectors input {
	width: 10px;
	float: left; 
	margin: 3px 5px 0 0;
}

.region-header .ebscohostCustomSearchBox #guidedFieldSelectors label {
	width: 25px;
	float: left; 
	margin-right: 10px;
}

.region-header .ebscohostCustomSearchBox #guidedFieldSelectors label[for="guidedField_0"] {
	width: 48px;
}

.region-header .ebscohostCustomSearchBox br,
.region-header .ebscohostCustomSearchBox #ebscohostsearchtext + br,
.region-header .ebscohostCustomSearchBox #guidedFieldSelectors br,
.page-node-172 #block-block-61 {
	display: none!important;
}

/*Testing Tweaking functionality of search 6.22.18*/

.page-node-172 #block-block-38,
.page-node-714 #block-block-38 {
	display: none;
}

.page-node-172 #block-block-132,
.page-node-714 #block-block-132 {
	margin-top: -200px;
	position: relative;
	z-index: 9999;
	margin-bottom: 45px;
}

.region-header div.simpleTabs {
	/*width: 100%;
	max-width: 700px;*/
}

/*Text Resizing*/

#block-textresize a#text_resize_increase,
#block-textresize a#text_resize_reset,
#block-textresize a#text_resize_decrease {
    
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-image: url("../../../../sites/default/files/media-item-images/Resize-text-larger.png");
    background-repeat: no-repeat;
    margin: 0 5px 0 0;
    transition: all .7s ease-in-out; 
    float: left;
}

#block-textresize a#text_resize_reset {
    background-image: url("../../../../sites/default/files/media-item-images/Resize-text-reset.png");
}


#block-textresize a#text_resize_decrease {
    background-image: url("../../../../sites/default/files/media-item-images/Resize-text-smaller.png");
}



#block-textresize a#text_resize_increase:hover {
    background-image: url("../../../../sites/default/files/media-item-images/Resize-text-larger-hover.png");
    transform: scale(1.15);
    transform-origin: bottom left;
}

#block-textresize a#text_resize_reset:hover {
    background-image: url("../../../../sites/default/files/media-item-images/Resize-text-reset-hover.png");
}

#block-textresize a#text_resize_decrease:hover {
    background-image: url("../../../../sites/default/files/media-item-images/Resize-text-smaller-hover.png");
    transform: scale(.85);
    transform-origin: bottom right;
}




/*
    
    
  Bookmarking CSS to use:
  
  

	
p a img[src="http://www.communitylibrary.net/drupal7/sites/default/files/Library-Network-FB-icon.png"] { transition: all .5s ease-in-out; }

p a:hover img[src="http://www.communitylibrary.net/drupal7/sites/default/files/Library-Network-FB-icon.png"] { transform: scale(1.4); }	  
    
    
*/




/*Menu in header styling*/

/*header .region-menu {
	background: #ffffff;
}*/

.region-menu {
    width: 80%;
    top: 20px;
}

.region-menu,
.region-menu #block-horizontalmenu,
.region-menu #block-horizontalmenu nav #horizontal-menu {
   position: absolute;
   right: 0;

}

.region-menu #block-horizontalmenu{
    width: 50%;
}


.region-menu #block-horizontalmenu li a[data-drupal-link-system-path='node/1'],
.path-frontpage .region-menu #block-horizontalmenu li a[data-drupal-link-system-path='<front>'] {
    display: none;
}



/*Responsive Menu module menu CSS*/

/*.responsive-menu-block-wrapper {
  display: none;
}*/
/*
#block-horizontalmenu .responsive-menu-block-wrapper {
    display: block;
}

html.mm-opened .mm-page {
  position: fixed !important;
  width: 100%;
}

.mm-page,
.mm-wrapper_background body {
  background-color: #ffffff;
}

.mm-opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical {
  margin-left: 0;
}

.mm-opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page {
  padding-left: 240px;
  padding-left: 15rem;
}*/
/*
.horizontal-menu {
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.horizontal-menu > li {
  display: inline-block;
  position: relative;
}

.horizontal-menu > li ul ul {
  left: 13.75em;
  top: 0;
}

.horizontal-menu ul .fly-left ul {
  left: -13.75em;
}

.horizontal-menu > li > a {
  display: block;
  padding-top: 0.3em;
  padding-right: 1em;
  padding-bottom: 0.35em;
  padding-left: 1em;
}*/

#page .horizontal-menu > li > a {
  font-weight: normal;
  display: inline-block;
}

.horizontal-menu > li > a:link,
.horizontal-menu > li > a:visited {
  color: #0D47A1;
  font-family: "Verdana", sans-serif;
}

.horizontal-menu > li > a:focus,
.horizontal-menu > li > a:hover {
  color: #000000;
  border-bottom: 2px solid #000000;
}

/*.horizontal-menu > li ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  box-sizing: border-box;
  width: 13.75em;
  list-style: none;
}

.horizontal-menu li.sfHover > ul,
.horizontal-menu li:hover > ul {
  display: block;
}

.horizontal-menu li li {
  position: relative;
  float: left;
  width: 100%;
}

.horizontal-menu > li > li:hover > ul,
.horizontal-menu > li > li.sfHover > ul {
  display: block;
}

.horizontal-menu > li li > a {
  display: block;
  position: relative;
  padding-top: 0.25em;
  padding-right: 1em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  text-transform: none;
}

.off-canvas-wrapper {
  display: block;
  display: none;
}

.no-js .off-canvas-wrapper {
  display: none;
}

.responsive-menu-toggle {
  display: inline-block;
}

.responsive-menu-toggle-icon {
  box-sizing: border-box;
  display: block;
  width: 44px;
  height: 35px;
  z-index: 4;
  margin-top: 0;
  position: relative;
}

.no-js .responsive-menu-toggle-icon {
  display: none;
}

.responsive-menu-toggle-icon span.label {
  display: block;
  position: absolute;
  font-size: 17px;
  text-transform: uppercase;
  top: 2px;
  left: 40px;
  color: #fff;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  background: #fff;
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 13px;
  border-radius: 2px;
}

.responsive-menu-toggle-icon:before {
  top: 8px;
}

.responsive-menu-toggle-icon span.icon {
  top: 14px;
}

.responsive-menu-toggle-icon:after {
  top: 20px;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  transition: none 0.4s ease-out 0.1s;
  transition-property: -webkit-transform, top, bottom, left, opacity;
  transition-property: transform, top, bottom, left, opacity;
}

html.mm-opening .responsive-menu-toggle-icon:before,
html.mm-opening .responsive-menu-toggle-icon:after {
  top: 14px;
}

html.mm-opening .responsive-menu-toggle-icon span.icon {
  left: -25px;
  opacity: 0;
}

html.mm-opening .responsive-menu-toggle-icon:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

html.mm-opening .responsive-menu-toggle-icon:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#mm-blocker {
  background: rgba(0, 0, 0, 0);
}
.mm-opening #mm-blocker {
  background: rgba(0, 0, 0, 0.2);
  transition: background 1s ease 0.3s;
}
.mm-opening #page {
  border-left: 1px solid #ccc;
}

.mm-panel a {
  border-bottom: none;
}

ul.menu.mm-listview a.is-active {
  color: inherit;
}

.mm-panel a:hover {
  border: none;
}




*/




/*Splash Section*/

/*Front page slideshow*/




#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2,
.libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 img,
.libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 ul,
.libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 ul li,
.libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 ul li a,
.libraryaware_widget_9ea4dbc919304a5288993e29c2c6e55b img,
.libraryaware_widget_9ea4dbc919304a5288993e29c2c6e55b,
.libraryaware_widget_9ea4dbc919304a5288993e29c2c6e55b ul,
.libraryaware_widget_9ea4dbc919304a5288993e29c2c6e55b ul li,
.libraryaware_widget_9ea4dbc919304a5288993e29c2c6e55b ul li a {
	
	
	width:100%!important;
}

	
	
#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 {
	
	
	height:400px!important;
}

#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 ul li a img {
	height: auto!important;
}

#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 ul li a img:after {
	content: "Click for more information";
	font-size: 13px;
	text-align: center;
	color: #ffffff;
	position: absolute;
	top: -375px;
}	
	
	
	
	
/*Content Section*/

/*Front page*/

.path-frontpage #page #main-wrapper {
	display: block; /*At least for now.  Until I fill the front page with content*/
	
}

.path-frontpage footer.site-footer {
	margin-top: 20px;
}	




/*Locations landing page styling*/



#block-views-block-library-district-libraries-block-1 .view-content > h3,
#block-views-block-library-district-libraries-block-1 h2 {
    display: none;
}




#block-views-block-library-district-libraries-block-1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*padding-left: 7.40741%;
    padding-right: 7.40741%;*/
}

#block-views-block-library-district-libraries-block-1 .view-content {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}





#block-views-block-library-district-libraries-block-1 .location-card-wrapper {
    
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
    
    
    
    padding: 0 0 50px 0;
    width: -webkit-calc(33.33% - 30px);
    width: calc(33.33% - 30px);
    
    
    
}



#block-views-block-library-district-libraries-block-1 .view-content .location-card-wrapper:nth-child(14) {
    border-left: 218px solid transparent;
}

#block-views-block-library-district-libraries-block-1 .location-card-wrapper:nth-child(16) {
    border-right: 218px solid transparent;
}

#block-views-block-library-district-libraries-block-1 .location-card-wrapper .location-card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: -webkit-calc(100% - 2rem);
    height: calc(100% - 2rem);
    min-height: 0;
    padding: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
    background:#00AA4F url("../../../../sites/default/files/bg/Green-background-shallow.jpg") top right no-repeat;
    background-size: 100%;
    height: 100%;
        
    
    font-size: 1.2rem;
    

}

#block-views-block-library-district-libraries-block-1 .location-card-wrapper .location-card-content {
    margin-top: 1.2em;
}



#block-views-block-library-district-libraries-block-1 .location-card-wrapper .location-card-body  header {
    font-size: 1.95rem;
    line-height: 1.2;
    width: 100%;
    margin-top: 70px;
}


#block-views-block-library-district-libraries-block-1 .view-content .location-card-wrapper:nth-child(4) header {
    letter-spacing: -.02rem;
}


#block-views-block-library-district-libraries-block-1 .location-card-wrapper .location-card-body  a:link,
#block-views-block-library-district-libraries-block-1 .location-card-wrapper .location-card-body  a:visited {
    color: #ffffff;
    text-decoration: none;
}

#block-views-block-library-district-libraries-block-1 .location-card-wrapper .location-card-body p {
    color: #ffffff;
    margin-bottom: .3em;
}

#block-views-block-library-district-libraries-block-1 .location-card-wrapper .location-card-body a:hover {
    /*text-decoration: underline;*/
}

#block-views-block-library-district-libraries-block-1 .library-location-number {
    margin: 1em 0;
}


#block-views-block-library-district-libraries-block-1 .library-location-number a {
    font-size: 1.5875rem;
}


#block-views-block-library-district-libraries-block-1 .location-card-wrapper figure {
    max-height: 225px;
}


#block-views-block-library-district-libraries-block-1 .location-card-wrapper figure,
#block-views-block-library-district-libraries-block-1 .location-card-wrapper .location-card-image img {
    margin: 0;
    display: block;
    width: 100%;
}



/*List of Events styling*/

.path-list-of-events h1.page-title {
	height: 75px;
	margin: 0 0 1.5em;
}

.path-list-of-events .views-field-field-age-group .age-group-1,
.path-list-of-events .views-field-field-age-group .age-group-2,
.path-list-of-events .views-field-field-age-group .age-group-3 {
	color: transparent;
	font-size: 0;
	text-indent: -9999px;
	height: 10px;
	background-color: #00CC00;/*original*/
	width: 100%;
	/*background-color: #28b235;*/
	
}

.path-list-of-events .views-field-field-age-group .age-group-1 {
	background-color: #0000cc;
}

.path-list-of-events .views-field-field-age-group .age-group-2 {
	background-color: #cc0000;/*original*/
	/*background-color: #fc921f;*/
}







/*Legend Styling*/

.path-list-of-events .view-header {
	margin-left: 250px;
	position: absolute;
	margin-top: -40px;
}



.path-list-of-events #legendary-legend {
    margin-top: 0;
    width: 600px;
}


.path-list-of-events #legendary-legend div {
	margin-bottom: 0;
	width: 150px;
	float: left;
}

.path-list-of-events #legendary-legend div#TNT-events {
	width: 230px;
}

.path-list-of-events #legendary-legend p {
	font-size: 13px;
	margin-bottom: 5px;
}

/*.path-list-of-events #legendary-legend i {
	display: block;
	float: left;
}*/

.path-list-of-events #legendary-legend strong {
	display: block;
	text-transform: uppercase;
	margin-top: -3px;
}

.path-list-of-events #legendary-legend #A-events em.fa-circle,
.path-list-of-events #legendary-legend #TNT-events em.fa-circle,
.path-list-of-events #legendary-legend #K-events em.fa-circle {
	background-color: #0000cc;/*original*/
	/*background-color: #0254ad;*/
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	float: left;
	margin-right: 5px;
	margin-top: 4px;
}

.path-list-of-events #legendary-legend #TNT-events em.fa-circle {
	background-color: #cc0000;/*original*/
	/*background-color: #fc921f;*/
}

.path-list-of-events #legendary-legend #K-events em.fa-circle {
	background-color: #00cc00;
	/*background-color: #28b235;*/
}

/*Filter styling on List of Events*/

.path-list-of-events #legendary-legend + .view-filters {
	margin-bottom: 50px;
}

.path-list-of-events #views-exposed-form-alternate-event-list-page-1 {
	display: table;
    margin-top: -15px;
    width: 100%;
}

.path-list-of-events .views-exposed-form .js-form-item {
	margin-right: 20px;
}

.path-list-of-events .views-exposed-form .js-form-item,
.path-list-of-events .views-exposed-form .js-form-item input {
	display: block;
	width: 120px;
}

.path-list-of-events .views-exposed-form .js-form-item {
	margin-top: -1px;
	margin-bottom: 0;
}

.path-list-of-events .views-exposed-form .js-form-item-field-near-or-at-library-locatio-target-id-1 {
	margin-top: .4em;
}

.path-list-of-events .views-exposed-form .js-form-item:last-child {
	margin-bottom: .4em;
}

.path-list-of-events .views-exposed-form #edit-field-near-or-at-library-locatio-target-id--wrapper {
	width: 250px;
}

.path-list-of-events .views-exposed-form #edit-field-near-or-at-library-locatio-target-id--wrapper input {
	width: auto;
	display: inline;
}

.path-list-of-events .views-exposed-form label {
	font-size: 16px;
}

/*.path-list-of-events .views-exposed-form #edit-age--wrapper,
.path-list-of-events .views-exposed-form #edit-location--wrapper,
.path-list-of-events .views-exposed-form .js-form-item-start-date,
.path-list-of-events .views-exposed-form .js-form-item-end-date,
.path-list-of-events .views-exposed-form #edit-actions {
	float: left;
}*/


/*Dropdown styling for filters*/

.path-list-of-events .views-exposed-form {
	margin-top: 60px;
}

.path-list-of-events .views-exposed-form .js-form-item-start-date {
	float: left;
	display: inline!important;
}



.path-list-of-events .views-exposed-form .js-form-item-start-date,
.path-list-of-events .views-exposed-form .js-form-item-end-date,
.path-list-of-events .views-exposed-form .js-form-item-age,
.path-list-of-events .views-exposed-form .js-form-item-start-date input {
	width: 170px;
}




.path-list-of-events .views-exposed-form .js-form-item-age label,
.path-list-of-events .views-exposed-form .js-form-item-start-date label,
.path-list-of-events .views-exposed-form .js-form-item-end-date label,
.path-list-of-events .views-exposed-form #edit-field-near-or-at-library-locatio-target-id--wrapper legend {
    display: block;
    position: relative;
    padding: 8px 0;
    background-color: #cfd0d2;
    text-shadow: 1px 1px 1px #FFFFFF, 0px -1px 2px #CCCCCC;
	color: #575A5D;
	outline: none;
	text-decoration: none;
	width: 100%;
	text-align: center;
}

.path-list-of-events .views-exposed-form .js-form-item-age select,
.path-list-of-events .views-exposed-form .js-form-item-start-date label,
.path-list-of-events .views-exposed-form .js-form-item-end-date label,
.path-list-of-events .views-exposed-form #edit-field-near-or-at-library-locatio-target-id--wrapper legend {
	border: 1px solid #cfd0d2;
	width: 170px!important;
	border-radius: 0;
}

.path-list-of-events .views-exposed-form #edit-field-near-or-at-library-locatio-target-id--wrapper {
	width: 170px!important;
}

.path-list-of-events .views-exposed-form .js-form-item-age select {
	height: 40px;
}

.path-list-of-events .views-exposed-form #edit-actions {
	padding-top: 0;
	margin-top: -3px;
	width: 300px!important;
}

.path-list-of-events .views-exposed-form #edit-actions input {
    background-image: none;
    font-weight: bold;
    text-shadow: 1px 1px 0px #333333;
	color: #FFFFFF!important;
	background-color: #45474a;
	height: 42px;
	width: 120px!important;
	border: 1px solid #cfd0d2;
	border-radius: 0;
}

.path-list-of-events .views-exposed-form .js-form-item-age label:hover,
.path-list-of-events .views-exposed-form .js-form-item-start-date label:hover,
.path-list-of-events .views-exposed-form .js-form-item-end-date label:hover {
  text-shadow: 1px 1px 0px #333333;
  color: #FFFFFF!important;
  background-color: #45474a;
}

.path-list-of-events .views-exposed-form #edit-actions input:hover {
	background-color: #cfd0d2;
    color: #575A5D!important;
    text-shadow: 1px 1px 1px #FFFFFF, 0px -1px 2px #CCCCCC;
}

.path-list-of-events .views-exposed-form .js-form-item-start-date input,
.path-list-of-events .views-exposed-form .js-form-item-end-date input {
	color: transparent!important;
	border: none!important;
	text-indent: -9999px;
}


.path-list-of-events .views-exposed-form .form--inline .form-actions {
	clear: none;
	width: 130px!important;
	float: left;
	margin-top: 4px;
}


/*Events styling on List of Events*/

.path-list-of-events .views-row {

    padding: 0.6em 0 1.4em !important;
    border: 1px solid #d8d9db;/*original*/
  /*  border: 1px solid #02a9a3;
    border: 1px solid #45474a;*/
    /*border-bottom: solid 1px rgb(247, 148, 30) !important;*/
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    width: calc(100% - 4px);
    border-radius: 5px;

    
    
   
    
}

.path-list-of-events .views-row .views-field {
	padding: 0 10px;
}

.path-list-of-events .views-row .views-field-field-age-group {
	padding: 0;
	margin-bottom: 10px;
}

.path-list-of-events .views-row .views-field-field-special-program {
	width: 80px;
	float: left;
	margin: 0 10px 10px 0;
}

.path-list-of-events .views-row .views-field-field-special-program h2 {
	color: transparent;
	font-size: 0;
	text-indent: -9999px;
}

.path-list-of-events .views-row .views-field-field-special-program .content {
	margin-top: 0;
}

.path-list-of-events .views-row .views-field-title {
	font-size: 1.2 em;
	font-weight: bold;
	margin-bottom: 5px;
}

.path-list-of-events .views-row .views-field-field-location .views-label-field-location,
.path-list-of-events .views-row .views-field-field-location .field-content {
	display: inline;
}

.path-list-of-events .views-row .views-field-field-location .field-content {
	font-weight: bold;
	margin-bottom: 5px;
}

.path-list-of-events .views-row p {
	margin-bottom: 5px;
}




/*Footer styles*/

footer.site-footer {
	border-top: 4px solid #f3b500;
	border-bottom: 20px solid #0a7738;
    background:#727676 url("../../../../sites/default/files/bg/Gray-background-deep.jpg") left -50px no-repeat;
	
}

























/*  ----------------------Media Queries-----------------------  */


@media (max-width: 1200px) {
    
    


#block-views-block-library-district-libraries-block-1 .location-card-wrapper {
    padding: 0.625rem;
    width: 45%;
}

#block-views-block-library-district-libraries-block-1 .location-card-wrapper .location-card-body header {
    margin-top: 100px;
}

#block-views-block-library-district-libraries-block-1 .view-content .location-card-wrapper:nth-child(14) {
    border-left: 0 solid transparent;
}

#block-views-block-library-district-libraries-block-1 .location-card-wrapper:nth-child(16) {
    border-right: 0 solid transparent;
}
    
    
}
	



@media (max-width: 1100px) {
	
	
#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 {
	
	
	height:370px!important;
}	
	
	
	
	
	
	
}


@media (max-width: 1050px) {
	
	
#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 {
	
	
	height:340px!important;
}	

.dialog-off-canvas-main-canvas div.highlighted #block-views-block-uber-important-notification-view-block-1 p {
    font-size: 1.1rem;
    max-width: 80%;
}


#page-wrapper {
    border-top: 20px solid #fff;
}  
   

ul.simpleTabsNavigation, ul.simpleTabsNavigation li ul.even-more {
    max-width: 179px;

}

	
	
	
	
}

@media (max-width: 900px) {
	
	
#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 {
	
	
	height:310px!important;
}	



	
	
	
}




@media (max-width: 851px) {
    
    
   /*Responsive menu should show and function here*/
    

.mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout {
    transform: translate3d(440px,0,0);
    -webkit-transform: translate3d(440px,0,0);
}
    
    
.region-header #block-libnet-branding {
    width: 60%;
    position: relative;
    padding: 0;
    margin-top: 5px;
}

.region-header #block-libnet-branding a {
    
    background: transparent url("/incipi-iterum/primis/web/sites/default/files/2019-possibility-District-horizontal%28color%29-with-icon-800.png") no-repeat center center;
}

#header .region-menu {
    background-color: #0D47A1;
    position: relative;
    top: 5px;
    width: 100%;
    padding-top: 10px;
}




/*Repositioning header elements*/
 

.region-header #block-libnet-branding a {
    background-size: 100%;
}

/*Going to make this section disappear.  The Search section in the Below Full Region will appear at this point */

#block-awesomesearchsection {  
    display: none; }
    
#awesomesearchinbelowfullregion {    
	width: 100%;
	
	
}

#block-awesomesearchinbelowfullregion #footerSearch {
    float: left;
    width: 100%;
    margin-left: 0;
}


#awesomesearchinbelowfullregion #tabber19 ul.simpleTabsNavigation, #awesomesearchinbelowfullregion #tabber19 ul.simpleTabsNavigation li ul.even-more {
    width: 25%;
}

#awesomesearchinbelowfullregion .simpleTabs div.simpleTabsContent form input[name="uquery"] {
    font-size: .8em;
    
}


#page .below-content-full,
#page #block-searchiconlinkedtosearchinbelowfullregion {
    display: block;
}

#page #block-searchiconlinkedtosearchinbelowfullregion {
    width: 50px;
    position: absolute;
    right: 0;
    margin-top: -65px;
}

#page #block-searchiconlinkedtosearchinbelowfullregion a {
    text-indent: -9999px;
    background: transparent url("/incipi-iterum/primis/web/sites/default/files/2019-06/6.24.19-search-icon-50.png") no-repeat center center;

    background-size: auto;
    color: #ffffff;
    width: 40px;
    height: 40px;
    float: left;
}



#block-awesomesearchinbelowfullregion ul.simpleTabsNavigation {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
  
}



#block-awesomesearchinbelowfullregion .simpleTabs {
    width: 100%;
    float: left;
}




#block-awesomesearchinbelowfullregion ul li {
    list-style: none;
    float: left;
    margin: 0;
    border: 2px solid purple;
    width: calc(33% - 2px);
    
}

#block-awesomesearchinbelowfullregion ul li.catalog,
#block-awesomesearchinbelowfullregion ul li.overdrive {
    border-left-width: 0;
    
}

#block-awesomesearchinbelowfullregion ul li a {
    padding: 10px 0;
}





#block-awesomesearchinbelowfullregion ul li a:link,
#block-awesomesearchinbelowfullregion ul li a:visited {
   display: block;
   background-color: lime;
   color: #ffffff;
   text-align: center;
    
}
    

#block-awesomesearchinbelowfullregion ul.simpleTabsNavigation li a:hover {
    background: rgb(52,110,126);
    color: #ffffff;
}



#block-awesomesearchinbelowfullregion .simpleTabs div.simpleTabsContent {
	margin: 10px 0;
	float: left;
	padding: 10px 0 10px 10px;
	width: calc(100% - 18px);
}

#block-awesomesearchinbelowfullregion .simpleTabs div.simpleTabsContent p {
    margin: 0;
}

#block-awesomesearchinbelowfullregion .simpleTabs div.simpleTabsContent p br {
	display: none!important;
}

#block-awesomesearchinbelowfullregion .simpleTabs div.simpleTabsContent form p select {
	display: none;
}

#block-awesomesearchinbelowfullregion .simpleTabs div.simpleTabsContent form input[name="uquery"] {
	width: calc(100% - 31px);
	float: left;
	margin-left: -10px;
}

#block-awesomesearchinbelowfullregion .simpleTabs div.simpleTabsContent form input[value="Go"] {
	float: left;
	border-radius: 0!important;
	padding: 0;
	margin-top: -5px;
	width: 40px;
	height: 40px;
	margin-left: 0;
	margin-right: -10px;
}

#block-awesomesearchinbelowfullregion.simpleTabs div.simpleTabsContent form input[value="Go"]:hover {
	
}










	
    

.region-header #block-textresize {
    top: 95px;
    width: 165px;
}    
    
    
    
}




@media (max-width: 800px) {
	
	
#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 {
	
	
	height:280px!important;
}	
	
	
.dialog-off-canvas-main-canvas div.highlighted #block-views-block-uber-important-notification-view-block-1 p {
    max-width: 90%;
}	


	
	
	
}





@media (max-width: 700px) {
	
	
#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 {
	
	
	height:250px!important;
}	


	
	
#block-views-block-library-district-libraries-block-1 .location-card-wrapper {
    width: 90%;
}

#block-views-block-library-district-libraries-block-1 .location-card-wrapper .location-card-body header {
    margin-top: 70px;
}


	
	
	

	
	
	
}




@media (max-width: 600px) {
	
	
#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 {
	
	
	height:220px!important;
}

	
	
#block-awesomesearchinbelowfullregion .simpleTabs div.simpleTabsContent {
    width: calc(100% - 13px);
}

#block-awesomesearchinbelowfullregion ul li {
width: calc(33% - 4px);

}

#block-awesomesearchinbelowfullregion ul li.universe a {
    text-indent: -9999px;
}

#block-awesomesearchinbelowfullregion ul li.universe a::after {
    content: "Search All";
    text-indent: 0;
    display: block;
    margin-top: -21px;
}

.region-header #block-libnet-branding {
    width: 80%;
}

.region-header #block-textresize {
    margin-top: -30px;
    width: 50px;
}


#block-textresize a#text_resize_increase:hover {
    transform-origin: top right;
}

#block-textresize a#text_resize_decrease:hover {
    transform-origin: bottom right;
}

#block-textresize a#text_resize_increase, #block-textresize a#text_resize_reset, #block-textresize a#text_resize_decrease {
    float: none;
    clear: none;
}


	
	
}



@media (max-width: 500px) {
	
	
#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 {
	
	
	height:190px!important;
}

	
.dialog-off-canvas-main-canvas div.highlighted #block-views-block-uber-important-notification-view-block-1 p {
    font-size: .95rem;
    max-width: 94%;
}

header#header {
    border-bottom: 75px solid #fff;
}	


	


	
	
}



@media (max-width: 400px) {
	
	
#block-slideshowfromlibraryawarefornewtestsite-2 .libraryaware_widget_8d2ec8a5124942db9bfb02d8ff3aadd2 {
	height:160px!important;
	
}	
	
		
	
	
	
}




